##  Exhaust fan - FAN3
#[heater_fan exhaust_fan]
#pin: PD14
#max_power: 1.0
#shutdown_speed: 0.0
#kick_start_time: 5.0
#heater: heater_bed
#heater_temp: 60
#fan_speed: 1.0

#[fan_generic nevermore_fan]
#pin: PD15
#max_power: 1.0
#shutdown_speed: 0.0
#kick_start_time: 5.0


# this is the exhaust fan
# comment out it if you don't have exhaust fan
[fan_generic exhaust_fan]
pin: PD14
cycle_time: 0.01
hardware_pwm: false






[heater_fan nevermore_fan]
pin: PD15
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0
heater: heater_bed
heater_temp: 60
fan_speed: 1.0

#####################################################################
#   Fan Control
#####################################################################

##  Print Cooling Fan - FAN0
[fan]
pin: sb2040:gpio13 #PA8
kick_start_time: 2
#max_power: 1.0
##  Depending on your fan, you may need to increase this value
##  if your fan will not start. Can change cycle_time (increase)
##  if your fan is not able to slow down effectively
off_below: 0.1
cycle_time: 0.01
#enable_pin: sb2040:gpio16
#hardware_pwm: False
#tachometer_pin: ^sb2040:gpio16
#hardware_pwm: True

##  Hotend Fan - FAN1
[heater_fan hotend_fan]
pin: sb2040:gpio14 ###PE5 
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
##  If you are experiencing back flow, you can reduce fan_speed
#fan_speed: 1.0

##  Controller fan - FAN2
#[controller_fan controller_fan]
#pin: PD12
#kick_start_time: 0.5
#heater: heater_bed


##  Controller fan - FAN2
#[controller_fan controller_fan2]
#pin: PD13
#kick_start_time: 0.5
#heater: heater_bed


[multi_pin contr_fan]
pins: PD12,PD13

[temperature_fan controller_fan]
pin=multi_pin:contr_fan
kick_start_time: 0.1
#shutdown_speed: 0
off_below: 0.2
max_power: 1.0
#fan_speed: 0.6
sensor_type: temperature_host
control: pid
min_temp: -40
max_temp: 85
#max_delta: 5.0
pid_kp: 1.0
pid_ki: 0.5
pid_kd: 2.0
min_speed: 0
max_speed: 1
target_temp: 55